.user-info {
    padding: 1rem !important;
    overflow: overlay;
}

.address-info {
    font-family: monospace;
    font-size: 1rem;
}

.extended-space {
    margin-top: 4rem;
}

.info-value {
    color: #ffffff;
    word-break: break-all;
}

.info-value div a {
    color: #ffffff;
}

.user-info-row {
    background-color: transparent;
    border-radius: 4px;
    padding: 8px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.user-info-row div button {
    border: none;
}

.domain-config-btn {
    border-color: #6c757d;
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 300px;
}
