.configuration-modal-content {
    margin: auto;
    padding: 2rem;
    border: none;
    width: 80%;
    position: relative;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.configuration-items-align {
    min-width: 3rem;
}

.small-text {
    font-size: 10px;
    line-height: 14px;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-700 {
    font-weight: 700;
}

.grey-text {
    color: var(--profile-configuration-text-color);
}

.profile-config-container {
    width: fit-content;
}

.title-content {
    min-width: 8rem;
}

.address-details {
    margin-top: 0.7rem;
    width: 80%;
}

.profile-input {
    border: 1px solid var(--input-field-border-color);
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: var(--input-field-text-color);
    background: var(--input-field-background-color);
    width: 60%;
}

.configure-btn {
    padding: 5px 30px 5px 30px;
    box-shadow: 0px 0px 44px 0px var(--button-shadow);
    width: fit-content;
}

.dm3-name-container {
    width: 80%;
}

.dm3-name-content {
    width: 90%;
}

.name-service-selector {
    background: var(--preferences-highlighted-color);
    font-size: 14px;
    padding: 0.3rem;
    font-weight: 500;
    outline: none;
}

select:focus-visible {
    outline: none;
}

input::placeholder {
    font-size: 11px;
}

.dm3-address {
    word-break: break-word;
}

.address-tooltip{
    background: var(--normal-btn-hover);
    color: var(--text-primary-color);
    margin-left: 0.6rem;
    padding: 2px 7px 2px 7px;
    border-radius: 13px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.address-tooltip-text{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 300px;
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    margin: 22px 9px 10px 0px;
    background-color: var(--text-secondary-color);
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 1rem;
    cursor: text;
}

.address-tooltip:hover .address-tooltip-text {
    visibility: visible;
}

.add-prof-btn-disabled {
    background: var(--normal-btn-inactive);
    color: var(--disabled-btn-text);
    border: none;
}

.add-prof-btn-active {
    background-color: var(--normal-btn-hover);
    border: var(--normal-btn-border);
    color: var(--text-primary-color);
}

.dm3-prof-select-container{
    border: 1px solid #FFFFFF; /* TODO : Replace hardcode color with dynamic color */
    border-radius: 5px;
}

.dm3-prof-select-type{
    background: #D9D9D9; /* TODO : Replace hardcode color with dynamic color */
    color: black;
    font-weight: 500;
    font-size: 14px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    line-height: 24px;
    border-radius: 5px;
}

.name-option{
    color: #FFFFFF; /* TODO : Replace hardcode color with dynamic color */
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

/* Customized CSS for radio button */
.radio {
    input[type="radio"] {
      opacity: 0;
      + .radio-label {
        &:before {
          content: '';
          background: #1F2029; /* TODO : Replace hardcode color with dynamic color */
          border-radius: 100%;
          border: 1px solid #FFFFFF; /* TODO : Replace hardcode color with dynamic color */
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          position: relative;
          top: -0.2em;
          margin-right: 1em; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
          &:before {
            background-color: #D9D9D9; /* TODO : Replace hardcode color with dynamic color */
            box-shadow: inset 0 0 0 4px #1F2029; /* TODO : Replace hardcode color with dynamic color */
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            border-color: #D9D9D9; /* TODO : Replace hardcode color with dynamic color */
          }
        }
      }
      /* &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px #f4f4f4;
            border-color: darken(#f4f4f4, 25%);
            background: darken(#f4f4f4, 25%);
          }
        }
      } */
    }
  }


/* =================== Mobile Responsive CSS =================== */

@media only screen and (min-width: 800px) and (max-width: 1150px) {
    input::placeholder {
        font-size: 9px;
    }
    .conversation-error {
        font-size: 0.7rem !important;
    }
}

@media only screen and (max-width: 800px) {
    .profile-input {
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        width: 100%;
    }

    .dm3-name-container {
        width: 100%;
        margin-top: 1rem;
    }

    input::placeholder {
        font-size: 13px !important;
    }

    .conversation-error {
        margin-left: 0px !important;
        height: 14px;
        font-size: 0.6rem !important;
    }

    .configure-btn {
        padding: 4px 14px 4px 14px;
    }

    .dm3-name-content {
        width: 100%;
        word-break: break-word;
        hyphens: auto;
        padding: 0rem 0.2rem 0rem 0.2rem;
    }

    .configuration-items-align{
        min-width: 0rem;
    }

    select option {
        font-size: 12px;
    }

    .name-service-selector{
        font-size: 12px;
    }

    .dm3-address {
        word-break: break-word;
        font-size: 13px !important;
    }

    .address-tooltip-text{
        margin: 22px 0px 10px -118px !important;
    }
}
