.configuration-modal-content {
    margin: auto;
    padding: 2rem;
    border: none;
    width: 80%;
    position: relative;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.configuration-items-align {
    min-width: 3rem;
}

.small-text {
    font-size: 10px;
    line-height: 14px;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-700 {
    font-weight: 700;
}

.grey-text {
    color: var(--profile-configuration-text-color);
}

.profile-config-container {
    width: fit-content;
}

.title-content {
    min-width: 8rem;
}

.address-details {
    margin-top: 0.7rem;
    width: 80%;
}

.profile-input {
    border: 1px solid var(--input-field-border-color);
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: var(--input-field-text-color);
    background: var(--input-field-background-color);
    width: 60% !important;
}

.configure-btn {
    padding: 8px 16px 8px 16px;
    box-shadow: 0px 0px 44px 0px var(--button-shadow);
    width: fit-content;
}

.dm3-name-container {
    width: 80%;
}

.dm3-name-content {
    width: 90%;
}

.name-service-selector {
    background: #8b7ff4;
    font-size: 14px;
    padding: 0.3rem;
    font-weight: 500;
    outline: none;
}

select:focus-visible {
    outline: none;
}
