.content-style {
    padding: 10px;
    max-width: 38rem;
    margin-right: 0.4rem;
}

.action-container {
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--text-primary-color);
}

.chat-action-dot {
    height: 0.9rem;
    width: 0.7rem;
}

.time-style {
    margin-top: 3px;
    font-size: 10px;
    margin-right: 0.3rem;
}

.readed-tick-icon {
    color: var(--normal-btn-hover);
}

.tick-icon {
    margin-left: 2px;
}

.second-tick {
    margin-left: -5px;
}
