.start-btn {
    background-color: #00000000;
    color: #DBDFE5 !important;
    font-size: 30px;
    border: none !important;
    height: 60px !important;
    width: 60px !important;
    padding: 0px !important;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1001;
}

