.rcw-widget-container {
    position:  relative !important;
    margin: 0px !important;
    height: 100%;
    max-height: 100%;
    z-index: inherit !important;
}

.account-header-text {
    cursor: pointer;
    color: #81828D
  }

.profile-warning {
color: #81828D;
font-size: 0.8rem !important;
background-color: #fff3cd22;
border-color: #ffecb522;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border-radius: 10px !important;
}


.info-box {
    margin: 1rem !important;
    font-size: 1rem;

    border-radius: 18px;
}
  
.rcw-messages-container {
    flex-grow: 1!important;
    padding-top: 5px !important;
    max-height: 100% !important;
    background-color: #1F2029;
    padding: 5px;
    padding-right: 0px;
}

.rcw-input {
  
    padding-left: 5px;
    padding-right: 40px;

}

.rcw-input::-webkit-scrollbar-thumb {
    border-radius: 18px !important;
}

.rcw-picker-btn {
    display: none;
}
  
.rcw-new-message {
    height: 100%;
    width: 100%;
    border: solid var(--mainLight) 2px !important;
    border-radius: 10px;
    color: #ffffff;
    background-color: #3A3C50 !important;
}
  
.rcw-message {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.rcw-header {
    display: none !important;
}
  
.rcw-send {
    position: absolute;
    background-color: transparent !important;
    align-self: center !important;
    right: 20px;
    padding: 0px !important;
  
}
  
.rcw-sender {
    position: relative;
    height: 100px !important;
    border-radius: 0px !important;
    background-color: #1F2029 !important;
    display: flex;

  
}


.rcw-client .rcw-message-text {
    color: #ffffff;
    max-width: none !important;
    margin-left: 3rem !important;
    border-radius: 6px;

    background-color: #6773DD;
}

.rcw-response .rcw-message-text {
    color: #ffffff;
    border-radius: 6px;
  
    background-color: #3A3C50;
}


.rcw-conversation-container {
    box-shadow: none !important;
    border-radius: 0px !important;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column!important;
}
  
.msg-container {
    min-width: 630px;
}

.message-state {
    margin-bottom: 15px;
    color: #81828D;
}
