.menu-container {
    padding-top: 1rem;
}

.menu-items {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0.7rem 0.5rem 0.7rem 0.8rem;
}

.menu-items:hover {
    background-color: var(--normal-btn);
}

.menu-item-icon {
    padding: 0rem 0.5rem 0rem 1rem;
}

.menu-item-cancel {
    padding: 0.1rem 0.5rem 0.45rem 0.5rem;
}

.version-container {
    position: absolute;
    bottom: 0;
}

.menu-container {
    animation: zoom-in-zoom-out 0.7s ease 1;
}

@keyframes zoom-in-zoom-out {
    10% {
        transform: scale(0.1, 0.1);
    }
    20% {
        transform: scale(0.2, 0.2);
    }
    30% {
        transform: scale(0.3, 0.3);
    }
    40% {
        transform: scale(0.4, 0.4);
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    60% {
        transform: scale(0.6, 0.6);
    }
    70% {
        transform: scale(0.7, 0.7);
    }
    80% {
        transform: scale(0.8, 0.8);
    }
    90% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}
