.account-header {
    cursor: pointer;
   
  }
  .account-name {
    height: fit-content;
    font-size: 2rem;
    font-weight: 200;

  }




.header-buttons > div {
    padding: 0px !important
}

.header-buttons .btn {
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left-style: none;
}

.show-add-btn {
    border-right-style: none !important;
}