.error-modal {
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: brightness(0.3);
}

.error-modal-content {
    margin: auto;
    padding: 20px;
    border: none;
    width: 40%;
}

.error-close:hover,
.error-close:focus {
    text-decoration: none;
    cursor: pointer;
}

#error-message {
    margin: 0px;
}

#ok-btn {
    padding: 0.3rem 2rem 0.3rem 2rem;
}
