.state-btn {
    border-radius: 18px;
    background-color: var(--mainDark);
    color: #DCE1E7;
    border-color: #DCE1E7;
    border-style: solid;
}

.state-btn:hover {
    background-color: #9DB1D1;
    border-color: #fff;

}

.state-btn:disabled {

    background-color: var(--mainDark);
    color: #DCE1E7;
    border-color: #DCE1E7;
 
}

.state-btn:disabled:hover {

    background-color: var(--mainDark);
    color: #DCE1E7;
    border-color: #DCE1E7;
 
}