.public-message-text {
    border-radius: 0px;
    border-left: 0px;
}

.public-message-btn {
    border-radius: 0px;
  
}

.tx-indicator {
    background-color: #dfdfdf;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #000;
}

.feed-element:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.feed-element-tx {
    cursor: pointer;
}

.contact-name:hover {
    cursor: pointer;
}

.tx-type {
    background-color: #dfdfdf !important;
    color: #6c757d!important;

}