.highlight-chat-border {
    border-top: 2px solid var(--normal-btn-hover);
}

.highlight-chat-border-none {
    border-top: none;
}

.chat-container {
    min-height: 86vh;
}

.chat-items {
    overflow-y: scroll;
    margin-top: 0.5rem;
}

.chat-height-small {
    height: 63vh;
}

.chat-height-high {
    height: 75vh;
}
