.account-header {
    cursor: pointer;
   
  }
  .account-name {
    height: fit-content;
    font-size: 2rem;
    font-weight: 200;

  }




.header-buttons > div {
    padding: 0px !important
}

.show-add-btn {
    border-style: none !important;
    height: 40px;
    border-radius: 0.5rem !important;
}