.messages-badge {
    border-radius: 2px !important;
}



.contact-list-container {
    padding: 0px !important;
}
  
.contact-list-container * { 
    border-radius: 0px; 
    border-left: none ; 
    border-right: none ;
}

.contact-entry {
    cursor: pointer;
    border-top-style: none;
}

.contact-entry-center {
    padding-left: 0.5rem;
}

.contact-entry-avatar {
    height: fit-content;
}

.teaser {
    font-size: 0.8rem;
}

.account-name-text {
    padding-left: 1rem;
}

.account-input {
    border-top-style: none;
}