.account-header-text {
    cursor: pointer;
}
.account-name {
    height: fit-content;
    font-size: 1.2rem;
    font-weight: 400;
}

.header-buttons > div {
    padding: 0px !important;
}

.show-add-btn {
    border-radius: 4px !important;
    height: 30px !important;
    width: 30px !important;
}
