.messages-badge {
    border-radius: 2px !important;
    background-color: #dfe3eb !important;
    color: #000;
}

.contact-list-container {
    padding: 0px !important;
}

.contact-list-container * {
    border-radius: 0px;
    border-left: none;
    border-right: none;
}

.contact-entry {
    cursor: pointer;
    color: #ffffff;
    background-color: var(--mainDark);
    border-bottom-style: none;
    border-top-style: none;
    border-bottom-width: 2px;
    border-top-color: white;
    border-top-width: 2px;
}

.contact-entry {
    color: #ffffffd5;
}

.contact-entry .text-muted {
    color: #bdbdbd !important;
}

.contact-entry:hover {
    background-color: #2d4870;
    color: #ffffffd5;
}

.contact-entry-center {
    padding-left: 0.5rem;
}

.contact-entry-avatar {
    height: fit-content;
}

.teaser {
    font-size: 0.8rem;
}

.account-input {
    border-top-style: none;
    background-color: #e0e5ea;
}

.account-input:focus {
    border-top-style: none;
    background-color: #e0e5ea;
}

.contacts {
    background-color: var(--mainDark);
    height: 100px;
    overflow: overlay;
}

.contract-entry-selected {
    background-color: #6773dd !important;
}

.add-btn {
    background-color: var(--mainColorLight) !important;
    color: #fff !important;
    border-style: none !important;
    background-color: #6773dd !important;
}

.add-contact-form {
    /* border-left: solid var(--mainDark); 2px;
    border-right: solid var(--mainDark); 2px; */
    border-bottom: solid var(--mainDark) 2px;
}

.add-contact-error-label {
    color: #fff !important;
}

.add-contact-label {
    color: var(--lightHighlight) !important;
}

.add-contact-error {
    background-color: #c2606a !important;
}