.help-text {
  padding-top: 0.3rem;
  font-size: 1.2rem;
  color: #b8b8b8;
}

.sign-in-help {
  margin-top: 0.2rem !important;
}

.sign-in-help-1 {
    margin-top: 2.5rem !important;
  }
.sign-in-help-2 {
    margin-top: 2.2rem !important;
}

.store-token {
  margin-top: 0.5rem;
}