.home-image-container {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.signin-container {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.content-data-container {
    padding: 3rem 8.25rem 3rem 8.25rem;
}

.details {
    line-height: 21px;
}

.encrypted-details {
    line-height: 15px;
}

.signin-btn {
    font-size: 18px;
    line-height: 24px;
    padding: 1.2rem;
}

.signin-btn:hover {
    background-color: var(--normal-btn-hover);
}

.para-div p:last-child {
    margin-bottom: 0;
}

.home-image {
    border-radius: 13px;
}

.sign-in-logo {
    width: fit-content !important;
}

@media only screen and (max-width: 1100px) {
    .content-data-container {
        padding: 1rem;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1250px) {
    .content-data-container {
        padding: 2rem;
    }
}
