.home-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-data-container {
    padding: 1rem 8.25rem 1rem 8.25rem;
}

.details {
    line-height: 21px;
}

.encrypted-details {
    line-height: 15px;
}

.signin-btn {
    font-size: 1.125rem;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.signin-btn:hover {
    background-color: var(--normal-btn-hover);
}

.para-div p:last-child {
    margin-bottom: 0;
}

.sign-in-logo {
    height: 4rem !important;
    width: fit-content !important;
    fill: var(--text-primary-color) !important;
}

.content-data {
    margin-top: 3rem;
}

.rainbow-connect-btn {
    padding: 1rem 1rem 0rem 1rem;
}

.wal-not-connected {
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 20px;
    color: var(--normal-btn-hover);
    font-size: 0.9rem;
    cursor: default;
}

.loading-btn {
    height: fit-content !important;
}

.spinner-visible {
    visibility: visible;
}

.spinner-invisible {
    visibility: hidden;
}

@media only screen and (max-width: 1100px) {
    .content-data-container {
        padding: 1rem;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1250px) {
    .content-data-container {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1450px) {
    .content-data {
        margin-top: 6rem !important;
    }
}

@media only screen and (max-width: 1000px) {
    .content-data {
        margin-top: 1rem !important;
    }
}
