.chat-header {
    border-left: solid 1px rgb(207, 207, 207);
    
}

.account-name-container {
    background-color: #fafafa;
}
  
.header-row {
    height: 10%;
    border-bottom-color: rgba(0, 0, 0, 0.125) ;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }